In [ ]:
# Imports
import sqlite3
import pandas as pd

# Create a SQLite database
conn = sqlite3.connect("health.db")

# Load cleaned data
df = pd.read_csv("/Users/thomassimmons/c/Health/data/cleaned_health.csv")
df.to_sql("health_data", conn, if_exists="replace", index=False)

23633

In [25]:
# Average percentage by year
query_avg_percentage_by_year = """
SELECT year, ROUND(AVG(percentage), 2) AS avg_percentage
FROM health_data
GROUP BY year
ORDER BY year;
"""
pd.read_sql(query_avg_percentage_by_year, conn)

   year  avg_percentage
0  2019           22.95
1  2020           21.38
2  2021           21.71
3  2022           21.87
4  2023           23.32
5  2024           21.16

In [26]:
# Top 5 outcomes with highest average percentage
query_top_5_outcomes = """
SELECT "outcome_(or_indicator)", ROUND(AVG(percentage), 2) AS avg_percentage
FROM health_data
GROUP BY "outcome_(or_indicator)"
ORDER BY avg_percentage DESC
LIMIT 5;
"""
pd.read_sql(query_top_5_outcomes, conn)

        outcome_(or_indicator)  avg_percentage
0    Has a usual place of care           87.92
1         Blood pressure check           86.71
2                 Doctor visit           84.29
3               Wellness visit           79.04
4  Prescription medication use           68.69

In [27]:
# Difference in percentage between males and females
query_sex_comparison = """
SELECT "group", AVG(percentage) AS avg_pct
FROM health_data
WHERE "grouping_category" = 'Sex'
GROUP BY "group";
"""
pd.read_sql(query_sex_comparison, conn)

    group    avg_pct
0  Female  22.140064
1    Male  19.688782

In [31]:
query_age_comparison = """
SELECT "group", AVG(percentage) AS avg_pct
FROM health_data
WHERE "grouping_category" = 'Age groups with 65+'
GROUP BY "group"
ORDER BY avg_pct DESC;
"""
pd.read_sql(query_age_comparison, conn)

               group    avg_pct
0  65 years and over  27.615248
1        50-64 years  22.093082
2        35-49 years  18.153774
3        18-34 years  16.865705

In [32]:
query_top_outcomes_2023 = """
SELECT "outcome_(or_indicator)", ROUND(AVG(percentage), 2) AS avg_pct
FROM health_data
WHERE year = 2023
GROUP BY "outcome_(or_indicator)"
ORDER BY avg_pct DESC
LIMIT 5;
"""
pd.read_sql(query_top_outcomes_2023, conn)

        outcome_(or_indicator)  avg_pct
0    Has a usual place of care    87.61
1         Blood pressure check    87.32
2                 Doctor visit    84.93
3               Wellness visit    79.94
4  Prescription medication use    70.34

In [22]:
# Close database connection
conn.close()